
# Core's dependencies
OpenFisca-Core[web-api]<31.0,>=30.0
Biryani[datetimeconv] >= 0.10.8
dpath == 1.4.0
enum34 >= 1.1.6
future < 1.0.0
numpy >= 1.11, < 1.16
psutil==5.4.6
PyYAML >= 3.10
sortedcontainers==1.5.9
flask == 1.0.2
flask-cors ==3.0.7
gunicorn <= 19.9.0
werkzeug < 1.0.0


# Old requirements, to install stable core instead of git
#
